# Leos .config format | Parsed by src/tools/config.py
# [] Denotes a header, and exists only to organise/catagorise settings
# # Denotes a comment, and is ignoreed by the parser
# name=value creates a record in the config hashmap
# value type is recorded next to the value # TYPE
# # TYPE_A -> TYPE_B means the type is converted from A -> B in engine

[Religion]

[Events]
#eFrequency = 10000 # occurs every 10000 frames

[Peep]
peep_move_speed = 0.1 # FLOAT how many world units a peep moves per tick

# >> I DONT RECOMEND CHANGING [Engine] SETTINGS <<
[Engine] 
camera_rotation_speed = 0.01 # FLOAT radians. set to 0 to stop camera rotation
camera_xz_distance = 16 # FLOAT world units. how far camera is from organise
camera_y_distance = 1 # FLOAT world units. elevation of camera
camera_fov = 0.9 # FLOAT radians. field of view
meshes_folder_path = ./meshes/ # STRING dont change this
target_fps = 180 # INT feel free to change
thread_usage = 4 # INT can change but this may slow your computer down. do not set to <= 0
background_rgb = 015015030 # INT -> (Int,Int,Int) changes the fill color of the buffer (RRGGBB). must be len 9
global_lumen = 0.4 # FLOAT affects the 'default brightness' of the scene. i dont recomend changing.
tickrate = 10 # INT ms time between sim ticks # DEFINITLY DO NOT CHANGE