[Religion]

[Events]
#eFrequency = 10000 # occurs every 10000 frames

[Peep]
peep_move_speed = 0.1 # FLOAT how many world units a peep moves per tick

# >> I DONT RECOMEND CHANGING [Engine] SETTINGS <<
[Engine] 
meshes_folder_path = ./meshes/ # STRING dont change this
target_fps = 180 # INT feel free to change
thread_usage = 4 # INT can change but this may slow your computer down. do not set to <= 0
background_rgb = 015015030 # INT -> (Int,Int,Int) changes the fill color of the buffer (RRGGBB). must be len 9
global_lumen = 0.4 # FLOAT affects the 'default brightness' of the scene. i dont recomend changing.
tickrate = 10 # INT ms time between sim ticks # DEFINITLY DO NOT CHANGE