# Leos .config format | Parsed by src/tools/config.py
# [] Denotes a header, and exists only to organise/catagorise settings
# # Denotes a comment, and is ignoreed by the parser
# name=value creates a record in the config hashmap
# value type is recorded next to the value # TYPE
# # TYPE_A -> TYPE_B means the type is converted from A -> B in engine

[Religion]

[Events]
event_roll_interval = 10 # INT how many ticks between event chance rolls
event_roll_chance = 100 # INT percent chance an event starts when rolled
event_duration_min = 350 # INT shortest event duration in ticks
event_duration_max = 600 # INT longest event duration in ticks
event_actor_radius = 30.0 # FLOAT how far god/devil affect peeps
event_actor_power = 1.7 # FLOAT strength of god/devil per tick
event_actor_move_speed = 0.35 # FLOAT move speed for god/devil actors

# Intervals at which a mood is set
[Mood Intervals]
mood_amazing = 100 # INT Increses everyones social score
mood_excited = 80 # INT Influences others to go to church
mood_happy = 60 # INT Increase others social score
mood_content = 50 # INT No debuffs
mood_sad = 40 # INT Peeps will walk slow
mood_irritated = 30 # INT Peeps lower everyones social score
mood_angry = 20 # INT Peeps refuse to eat and lower religious scores
mood_fury = 10 # INT Peeps will attack others

[Mood]
mood_min_start = 50 # INT smallest a factor like hunger can start at
mood_radius = 5 # INT how far moods affect social factor

[Peep]
peep_move_speed = 0.1 # FLOAT how many world units a peep moves per tick
peep_population = 100 # INT how many peeps spawn on start up
peep_spawn_radius = 5.0 # FLOAT radius peeps will spawn from the orgin 
peep_bound_box = 7.0 # FLOAT bounding box for the peeps
peep_spread_radius = 2.8 # FLOAT how close peeps can get before they spread out
peep_spread_distance = 5.5 # FLOAT how far they try to move when spreading out

# >> I DONT RECOMEND CHANGING [Engine] SETTINGS <<
[Engine] 
camera_rotation_speed = 0.009 # FLOAT radians. set to 0 to stop camera rotation
camera_xz_distance = 20 # FLOAT world units. how far camera is from organise
camera_y_distance = 10 # FLOAT world units. elevation of camera
camera_fov = 0.98 # FLOAT radians. field of view
meshes_folder_path = ./meshes/ # STRING dont change this
target_fps = 60 # INT feel free to change
background_rgb = 015015030 # INT -> (Int,Int,Int) changes the fill color of the buffer (RRGGBB). must be len 9
tickrate = 10 # INT ms time between sim ticks # DEFINITLY DO NOT CHANGE
